<div class="login-container">
  <p class="login-text">Login</p>
  <p class="credentials-text">Please enter your credentials</p>
  <div class="margin-bottom pos-rel">
    <span class="user-logo">
      <img src="../../assets/images/person-fill.svg" alt="username" />
    </span>
    <input
      class="login-input margin-10"
      type="text"
      [(ngModel)]="username"
      placeholder="Username"
      autofocus
    />
    <span class="error-text" *ngIf="errorEmail">{{ errorEmail }}</span>
  </div>
  <div class="pos-rel">
    <span class="user-logo">
      <img src="../../assets/images/lock-fill.svg" alt="username" />
    </span>
    <input
      class="login-input"
      [(ngModel)]="password"
      type="password"
      placeholder="Password"
    />
    <span class="error-text" *ngIf="errorPassword">{{ errorPassword }} </span>
  </div>
  <p>Udbhav</p>
  <button (click)="onBtnClick()" class="login-btn">Login</button>
</div>
