*{
margin: 0;
padding: 0;
}
.pos-rel{
  position: relative;
}
.logo-r{
  font-size: 6px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 17px;
  padding: 0px 2px;
  position: absolute;
  top: 20px;
  left: 152px;
}

.flex{
  display: flex;
}
.logo-text-f{
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo-text{
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

 .page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.main-section{
  padding: 15px;
  background-color: whitesmoke;
  width: 650px;
}
@media only screen and (max-width: 600px) {
    .wrapper-left-image{
    display:none;
  }
  .main-section{
    margin: 85px 30px;
    background-color: whitesmoke;
    box-shadow: 2px 3px #888888;
    width: auto;

  }
}
