<div class="page-wrapper">
  <div class="main-section">
    <!-- <h2>FORRESTER</h2> -->
    <div class="pos-rel">
      <span class="logo-text-f">F</span><span class="logo-text">ORRESTER</span>
      <span class="logo-r">R</span>
    </div>
    <div class="flex">
      <div>
        <div class="pos-rel">
          <h2 class="hello">Hello!</h2>
          <h6 class="hello-des">Good to see you again</h6>
          <img
            class="img"
            src="https://static-cse.canva.com/blob/494902/HeaderBarGraphmin.eeb55514.jpg"
            alt="logo"
          />
        </div>
      </div>
      <div>
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
